<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Website - Example</title>
</head>
<body>
  <h1>Website</h1>
  <p><b>You should see this page when navigating to "https://example-website.local/".</b></p>
  <p>This website does not use SSL. Instead, a secure HTTPS connection is provided by the reverse proxy.</p>
  <p>In case "example-website.local" cannot be found then you need to map it in your local hosts file.</p>
</body>
</html>
